body {
	margin: 0 auto;
    background-color: rgb(234, 199, 255);
    font-style: italic;
}

ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

header {
	margin: 0 auto;
	display: flex;
	background-color: #9f50cc;
	font-size: 40px;
	align-items: center;
}
#logo {
	float: left;
	height: 120px;
}
.block {
	width: 90%;
	margin: 30px auto;
	padding: 20px;
	background-color: #ce79ff;
}
header .block, footer .block{
	background-color: #9f50cc;
	margin: 0 auto;
}

#zag {
	margin: 0 auto;
	align-items: center;
    color:rgb(66, 0, 121);
	height: 120px;
	display: flex;
	justify-content: end;
	padding-right: 20px;
}

nav {
	margin-left: 0 auto;
	vertical-align: top;
	text-align: left;
	display: flex;
	flex-direction: column;
    color:#9f50cc
}
nav a {
	color: rgb(168, 235, 45);
}

table {
	border: 1px solid black;
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
}

#table {
	order: -1;
    text-align: center;
}

th, td {
	border: 1px solid black;
}

.tab1 {
	background-color: rgb(234, 0, 255);
}

.tab2 {
	background-color: rgb(200, 255, 0);
}

form {
	margin: 0 auto;
	width: 960px;
}

footer {
	margin: 0 auto;
	display: flex;
	background-color: #9f50cc;
	font-size: 20px;
	align-items: center;
    color:rgb(66, 0, 121);
    font-size: 50px;
}

#content {
	display: flex;
	flex-direction: column;
}

@media screen and (orientation: landscape){
	
	header .block {
		display: flex;
	}
	
	#nav {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	nav {
		flex-direction: row;
		justify-content: end;
		order: -1;
	}
	
	#zag {
		height: 100%;
		justify-content: start;
		margin: 0;
		padding-left: 20px;
	}
	
	ul {
		order: -1;
	}
	
	.block {
		width: 960px;
	}
}