body{
    margin:0;
}
header{
    color:rgb(162, 28, 196);
    background-color:rgb(214, 156, 241);
    height:120px;
    width:100%;
}
#logo{
    float:left;
    margin:10px;
    width:100px;
    height:100px;
}
#content{
    max-width: 960px;
    margin:0 auto;
    font-size: 20px;
    background-color: rgb(249, 229, 255);
}
#zag{
    color:rgb(130, 0, 190);
    font-size: 48px;
    margin-top:32px;
}
#nav{
    font-size: 24px;
}
#tabh{
    background-color: darkcyan;
}
#tab1{
    background-color: rgb(145, 255, 0);
}
#tab2{
    background-color: rgb(255, 4, 180);
}