body {
	margin: 0 auto;
    background-color: rgb(185, 147, 207);
	font-size: large;
    padding-top: 20px;
}
.content{
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 30%;
}
#button{
    max-width: 30%;
}